body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 30px;
  margin: 0;
}

#container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.select-area {
  text-align: center;
  margin-bottom: 25px;
}

label {
  font-size: 1.1em;
  font-weight: bold;
}

select {
  padding: 8px;
  font-size: 1em;
  margin-left: 10px;
}

.inventor-area {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.image-circle {
  width: 260px;
  height: 260px;
  border-radius: 50%;   
  border: 10px solid #000;
  overflow: hidden;
  background: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.text-box {
  flex: 1;
  border: 3px solid #333;
  background: #fafafa;
  padding: 20px;
  border-radius: 10px;
  min-height: 200px;
  font-size: 1.1em;
  line-height: 1.55em;
}
/*Task 2:  Glow effect ONLY for James */
@keyframes glowPulse {
  0% { box-shadow: 0 0 5px rgba(0,140,255,0.3); }
  50% { box-shadow: 0 0 25px rgba(0,140,255,1); }
  100% { box-shadow: 0 0 5px rgba(0,140,255,0.3); }
}

.glow-frame {
  animation: glowPulse 1.8s infinite ease-in-out;
}





